<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>spirate</title>
    <link rel="stylesheet" href="/public/vendor/semantic/semantic.min.css">
    {{ Theme.assets().stylesheets() }}
</head>
<body>
    <header></header>
    <main class="ui fluid container" id="app">
        {{ Theme.content() }}
    </main>
    <footer></footer>
    <script type="text/javascript" src="/public/js/main.js"></script>
    {{ Theme.assets().scripts() }}
</body>
</html>